<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <meta
      name="description"
      content="Das Miri-Tool ist ein Tool, um Absätze in schwerer als auch Leichter Sprache nach Stichworten zu durchsuchen."
    />
    <title>Miri-Tool</title>
  </head>