<%- include('../templates/head')-%>

  <body>

    <%- include('../templates/nav')-%>

    <div id="translationList" class="searchResults">
      <div>
        <table class="start-container">
          <tr>
            <td class="start-text">
              <h2>Bitte geben Sie ein zu suchendes Stichwort ein.</h2>
              <p>
                Es wird anschließend nach Texten in Schwerer Sprache gesucht, in
                denen das Wort vorkommt. Gegenüber werden die Übersetzungen in
                Leichter Sprache angezeigt.
              </p>
            </td>
            <td>
              <img src="images/searchTextImage.svg" />
            </td>
          </tr>
        </table>
      </div>
    </div>
   
    <%- include('../templates/footer')-%>

  </body>
</html>
